<html layout:decorate="~{layout}">
<div layout:fragment="content" class="container my-3">
    <div class="container my-3">
        <div class="jumbotron pb-1" style="background-color: aliceblue">
            <h3 class="display-6">여행 정보</h3>
            <p class="lead">반려동물과 동반할 수 있는 식당, 카페, 숙소 등 다양한 여행 장소를 공유해 보세요</p>
            <hr class="my-4">
        </div>
        <form th:action="@{/post/list}" method="get" class="form-inline my-2 my-lg-0 ">
            <select name="criteria" class="form-control mr-sm-2">
                <option value="title" th:selected="${criteria == 'title'}">제목</option>
                <option value="area" th:selected="${criteria == 'area'}">지역</option>
                <option value="category" th:selected="${criteria == 'category'}">카테고리</option>
                <option value="author" th:selected="${criteria == 'author'}">작성자</option>
            </select>
            <input class="form-control mr-sm-2" type="text" name="kw" placeholder="Search" th:value="${kw}">
            <button class="btn btn-outline-primary my-2 my-sm-0" type="submit">Search</button>
        </form>
        <div class="row mt-2">
            <div class="col-lg-3" th:each="post : ${postPage}">
                <div class="card mb-4">
                    <img th:src="..." th:onerror="'this.onerror=null;this.src=\'/images/altImg.PNG\';'" class="card-img-top" alt="Card image" height="150px" style="border-bottom: 1px solid #ddd;">
                    <div class="card-body d-flex flex-column" style="height: 170px">
                        <div class="d-flex flex-wrap" style="justify-content: start;">
                            <span th:each="category : ${post.categories}" class="badge badge-light m-1" th:text="' #' + ${category.content}" style="font-size: 11px; background-color: aliceblue"></span> <!-- 수정된 부분 -->
                        </div>
                        <h6 class="card-title"><a th:href="@{|/post/detail/${post.id}|}" th:text="${post.title}" style="color: black; font-weight: bold;"></a>
                        </h6>
                        <p th:text="${#strings.substring(post.body, 0, #strings.length(post.body) > 40 ? 40 : #strings.length(post.body))} + '...'" style="font-size: 12px" ></p>
                        <div class="mt-auto">
                            <span th:text="${#temporals.format(post.createDate, 'yyyy년MM월dd일 HH시mm분')}"  style="font-size: 11px"></span> |
                            <span th:text="${post.comments.size} + '개의 댓글'"  style="font-size: 11px"></span>
                        </div>
                    </div>
                    <div class="card-footer text-muted d-flex justify-content-between">
                        <span>by <b th:text="${post.author.nickname}"></b></span>
                        <span>
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                 class="bi bi-heart-fill" viewBox="0 0 16 16">
                            <path fill-rule="evenodd"
                                  d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314z"/>
                            </svg>
                            <span th:text="${post.likes.size}"></span>
                        </span>

                    </div>
                </div>
            </div>
        </div>
        <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-center">
                <li class="page-item" th:unless="${postPage.first}">
                    <a class="page-link"
                       th:href="@{/post/list(kw=${kw}, criteria=${criteria}, page=${page - 1})}">이전</a>
                </li>
                <li class="page-item" th:each="num : ${#numbers.sequence(0, postPage.totalPages - 1)}"
                    th:classappend="${num == postPage.number ? 'active' : ''}">
                    <a class="page-link" th:href="@{/post/list(kw=${kw}, criteria=${criteria}, page=${num + 1})}"
                       th:text="${num + 1}"></a>
                </li>
                <li class="page-item" th:unless="${postPage.last}">
                    <a class="page-link"
                       th:href="@{/post/list(kw=${kw}, criteria=${criteria}, page=${page + 1})}">다음</a>
                </li>
            </ul>
        </nav>
    </div>
</div>
</html>